@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div>
    <h2> DEASP Contacts</h2>

    <h3>DEASP Contract Management Site administration</h3>
    <P>
        Contacts:John LEE 
        <strong>E-mail:</strong>   <a href="FMUProcurement@welfare.com">FMUProcurement@Welfare.ie</a><br />
    </P>

    <h3>DEASP FMU-Accommodation Team South: </h3>
    <p>
        Contacts: Team South
        <strong>E-mail:</strong>   <a href="FMU-TeamNorth@welfare.com">FMU-TeamNorth@welfare.ie</a><br />
    </p>

    <h3>DEASP FMU-Accommodation Team North: </h3>
    <p>
        Contacts: Team north
        <strong>E-mail:</strong>   <a href="FMU-TeamSouth@welfare.com">FMU-TeamNorth@welfare.ie</a><br />
    </p>
       
</div>