@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2><strong>The Department of Employment and Social Protection</strong></h2>
    <div class="row">
        <div class="w3-half w3-section" style="max-width:25em">
            <img class="mySlides" src="~/Resources/AMD.jpg" alt="AMD Image" style="width:100%">
            <img class="mySlides" src="~/Resources/Balbriggan.jpg" alt="Balbriggan" style="width:100%">
            <img class="mySlides" src="~/Resources/Clondalkin.jpg" alt="Clondalkin" style="width:100%">
            <img class="mySlides" src="~/Resources/Cork Abbeycourt.jpg" alt="Cork Abbeycourt" style="width:100%">
            <img class="mySlides" src="~/Resources/Longford Intreo.jpg" alt="Longford" style="width:100%">
            <img class="mySlides" src="~/Resources/Tallaght.jpg" alt="Tallaght" style="width:100%">
            <img class="mySlides" src="~/Resources/AMD View.jpg" alt="AMD Image" style="width:100%">

            <script>
                var myIndex = 0;
                carousel();

                function carousel() {
                    var i;
                    var x = document.getElementsByClassName("mySlides");
                    for (i = 0; i < x.length; i++) {
                        x[i].style.display = "none";
                    }
                    myIndex++;
                    if (myIndex > x.length) { myIndex = 1 }
                    x[myIndex - 1].style.display = "inLine";
                    setTimeout(carousel, 5000); // Change image every 5 seconds
                }
            </script>
        </div>


        <!-- /Section: intro -->
        <div class="row">
            <div class="col-md-4">
                <h2>OPW Help Desk</h2>
                <p>
                    All DEASP building work requests should in the first instance be submitted to the OPW help desk.
                    Tel: (046) 942 6000 / 0761 10 6000 LoCall: 1890 213 414 Fax: (046) 948 1793 Email:
                </p>
                <p><a class="btn btn-default" href="https://info@opw.ie">OPW HelpDesk &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Contact Changes</h2>
                <p>All DEASP Contract Change requests should in the first instance be submitted to the FMU-Accommodation Team.</p>
                <p><a class="btn btn-default" href="https://FMAccommodation@welfare.ie">FMU Procurement E-Mail &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Contact Changes</h2>
                <p>Contract Change are managed and Approved by the FMU-Procurement Team.</p>
                <p>Contract Change are agreed upon confirmation of approval of the contract change request.</p>
                <p><a class="btn btn-default" href="https://FMProcurement@welfare.ie">FMU Procurement E-Mail &raquo;</a></p>
            </div>
        </div>
    </div>
</div>